.backButton{
    text-decoration: none;
    text-align: right;
    float: right;
}
.singlepokemon{
    width:100%;
    padding: 10px 15px!important;
    color: #000!important;
    border-bottom: 1px solid #000;
}